.projlist::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 17px 0;
    border-color: transparent var(--highlight-1) transparent transparent;
    position: relative;
}