.projlist::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 17px 0 0;
    border-color: var(--highlight-1) transparent transparent transparent;
    position: relative;
    left: calc(100% - 20px);
}